# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "daily"
  - package-ecosystem: "terraform"
    directory: "/terraform"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "daily"
  - package-ecosystem: "pip"
    directory: "/"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "daily"
  - package-ecosystem: "gomod"
    directory: "/"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: "/"
    groups:
      minor:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "Gradle"
      include: "scope"
