name: Build and test
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]
  repository_dispatch:
    types: [ trigger-tests ]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub repository
        uses: actions/checkout@v4
        with:
          path: testCode

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Get openapi version from pom
        id: get_openapi_version
        run: |
          cd testCode
          VERSION=$(mvn help:evaluate -Dexpression=payforlegalaid-openapi.version -q -DforceStdout)
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Checkout openapi spec
        uses: actions/checkout@v4
        with:
          repository: ministryofjustice/payforlegalaid-openapi
          path: openapi
          ssh-key: ${{ secrets.DEPLOY_KEY_OPENAPI }}
          ref: refs/tags/v${{ steps.get_openapi_version.outputs.version }}

      - name: Build openapi spec dependency
        run: |
          cd openapi
          mvn -B clean install

      - name: Checkout source code repo
        uses: actions/checkout@v4
        with:
          repository: ministryofjustice/payforlegalaid
          path: sourceCode

      - name: Build source code
        run: |
          cd sourceCode
          mvn -B -DskipTests clean install -Dpayforlegalaid-openapi.version=${{ steps.get_openapi_version.outputs.version }}

      - name: Run tests
        run: |
          cd testCode
          mvn -B clean compile
          mvn test
        shell:
          bash
