name: Build and test
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]
  repository_dispatch:
    types: [ trigger-tests ]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    environment: acceptance-tests
    permissions:
      id-token: write

    steps:
      - name: Checkout GitHub repository
        uses: actions/checkout@v6

      - name: Snyk Scan
        uses: './.github/snyk-scan'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Upload Snyk scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk.sarif

      - name: Assume role in Cloud Platform
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.FILE_STORE_UAT_S3_ROLE_TO_ASSUME }}
          aws-region: ${{ vars.FILE_STORE_UAT_S3_REGION }}

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Get openapi version from pom
        id: get_openapi_version
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=payforlegalaid-openapi.version -q -DforceStdout)
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Checkout openapi spec
        uses: actions/checkout@v6
        with:
          repository: ministryofjustice/payforlegalaid-openapi
          path: openapi
          ssh-key: ${{ secrets.DEPLOY_KEY_OPENAPI }}
          ref: refs/tags/v${{ steps.get_openapi_version.outputs.version }}

      - name: Build openapi spec dependency
        run: |
          cd openapi
          mvn -B clean install

      - name: Checkout source code repo
        uses: actions/checkout@v6
        with:
          repository: ministryofjustice/payforlegalaid
          path: sourceCode

      - name: Get necessary templates from S3
        env:
          S3_BUCKET_NAME: ${{ vars.FILE_STORE_UAT_S3_BUCKET_NAME }}
        # If in future we add reports without adding an AT, we could filter this to just ones needed in a test
        # We are using UAT right now as that is a stable environment.
        run: |
          aws s3 sync s3://${S3_BUCKET_NAME}/templates sourceCode/src/main/resources
        shell:
          bash

      - name: Build source code
        env:
          OUTPUT_VERSION: ${{ steps.get_openapi_version.outputs.version }}
        run: |
          cd sourceCode
          mvn -B -DskipTests clean install -Dpayforlegalaid-openapi.version=${OUTPUT_VERSION}

      - name: Run tests
        run: |
          mvn -B clean test
        shell:
          bash
